:root {
    --white-color: white;
    --black-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #eee;
}

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    line-height : 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.text-color-white {
    color: #ddd;
}

#main {
    
}

#header {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   z-index: 5;
}

#header .nav {
    background: rgba(0,0,0,0.3);
    height: 48px;
    display: flex;
    justify-content: space-between;
}

#header .logo {
    line-height: 48px;
    color: #0FB4B2;
    font-size: 28px;
    font-weight: 600;
    padding: 0 28px;
    font-family: 'Josefin Sans', sans-serif;
}

#header .nav ul {
    display: flex;
    justify-content: flex-end;
}

#header .nav a {
    display: block;
    color: var(--white-color);
    padding: 0 24px;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    transition: 0.3s;
}

#header .nav a:hover {
    color: #0FB4B2;
    background-color: rgba(0,0,0,0.3);
}

#slider {  
    background: black url('/assets/img/BG4.jfif') top center / cover no-repeat;
    padding-bottom: 48px;
}

@keyframes slipDown {
    from {
        transform: translateY(-30%);
        opacity: 0;
      }

    50% {
        opacity: 0;
    }
      
    to {
        transform: translateY(0%);
        opacity: 1;
      }
}

@keyframes slipIn {
    from {
        transform: translateX(-30%);
        opacity: 0;
      }

    to {
        transform: translateX(0%);
        opacity: 1;
      }
}

#slider .slider__content {
    padding-top: 48px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;

}

#slider .content__heading {
    padding-top: 64px;
    padding-bottom: 16px;
    animation: slipIn 1s ease-in-out; 
}

.menu {
    display: none;
    line-height: 48px;
    padding: 0 24px;
    font-size: 24px;
    color: white;
}

.content__heading h2 {
    font-size: 36px;
    color: #eee;
}

.content__heading h1 {
    font-size :54px;
    padding: 16px 0;
    color: #0FB4B2;
    text-shadow: 0 0 2px #000;
}

#slider .content__sub p{
    color: #eee;
    font-size: 26px;
    padding: 16px 0;
    animation: slipDown 2s cubic-bezier(0.84 , 0.16 , 0.16 , 0.84) forwards;
}

.more-btn {
    margin: 36px 0;
    animation: slipDown 2s cubic-bezier(0.84 , 0.16 , 0.16 , 0.84) forwards;
}

.contact-btn {
    margin-bottom: 50px;
}

.clear {
    clear: both;
}

.button a {
    background-color: #0FB4B2;
    padding: 16px 64px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.button a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #0FB4B2;
}
    /* Content: Start */

#about .section {
    padding: 48px 0;
}

.section__container {
    background: linear-gradient(0,rgba(0,0,0,0.8),rgba(255,255,255,0.4)),
    url('/assets/img/BG7.jfif') top center / cover no-repeat;
    height:100%;
}

#about h1 {
    color:black;
    font-family: 'Montserrat', sans-serif;
}

#about .section__title {
    text-align: center;
    font-size: 24px;
}

#about .section__content {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.section__content h2 {
    text-align: center;
    padding: 24px 0;
    color: white;
}

.content__element {
    padding: 0 54px;
    text-align: justify;
}

.content__element strong{
    display: inline-block;
    width: 84px;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-btn {
    text-align: center;
    margin-top: 60px;
}

.section .portrait {
    text-align: center;
    flex: 1;
}

.section .portrait img{
    margin-top: 8px;
    width:60%;
}

.section .element--info {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.element--info p {
    padding: 4px;
}

.content__skill {
    padding: 36px 0;
}

.bar {
    height: 3px;
    width: 400px;
    background: #ccc;
    position: relative;
    margin: 24px 0;
    border-radius: 10%;
    z-index:2;
}

.skill__info p {
    width: 400px;
}

.skill__info--pts p:after {
    content: "75%";
    float: right;
}

.skill__info--html p:after {
    content: "90%";
    float: right;
}

.skill__info--wordpress p:after {
    content: "70%";
    float: right;
}

.progress_bar {
    position: absolute;
    border-radius: 10%;
    height: 3px;
    background: #0FB4B2;
    z-index:3;
}

.bar--pts {
    width: 75%;
}

.bar--html {
    width: 90%;
}

.bar--wordpress {
    width: 70%;
}

.section .section__box {
    display: flex;
    justify-content: center;
    flex-wrap : wrap;
    margin-top: 24px;
}

.box__project {
    overflow: hidden;
    margin: 24px;
    position: relative;
    z-index: 2;
    height: 170px;
}

.box__project .box__layout {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 6px;
    right: 6px;
    left : 6px;
    bottom: 6px;
    display: none;
    transition: 1s;
}

.box__layout p{
    font-weight: 550;
    font-size: 16px;
    padding-top: 30%;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 30px;
    transition: 1s;
}

.box__project:hover .box__layout{
    display: block;
}

.section .section__box img {
    width: 300px;
    height: 170px;
    transition: 0.5s;
}

.box__project:hover img {
    transform :scale(1.2); 
}

.section__contact {
    display: flex;
    margin-top: 48px;
}

.contact__element {
    padding: 24px 36px;
    margin: 0 24px;
    flex: 1;
    box-shadow: 0 0 2px #0FB4B2;
    border-radius: 1%;
    background: white;
}

.section__title:after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    min-width: 150px;
    height: 2px;
    background: #0FB4B2;
}

.contact__element i {
    float: left;
    padding: 12px;
    font-size: 24px;
}

#footer {
    background: rgba(0,0,0,0.9);
    padding-top: 28px;
    padding-bottom: 60px;
    position: relative;
}

#footer .footer__content {
    text-align: center;
    color: white;
}

#footer .footer__content p {
    line-height: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

#footer .footer__content p:first-child {
    color: #0FB4B2;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 0;
}

#footer .footer__social {
    margin-top: 24px;
    text-align: center;
}

#footer .footer__social li{
    display: inline-block;
}

#footer a {
    font-size: 30px;
    padding: 16px;
    color: white;
}

#footer a:hover {
    color: #bbb;
}

#footer .footer__final {
    color: white;
    text-align: center;
    background: #000;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    padding: 12px;
}